@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('../../public/images/bg.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.title-text-holder {
    background-color: rgba(75, 75, 75, 0.4);
    border-radius: 20px;
}